/* History boxes */
div.history {
    border-left-color: rgba(230, 223, 38, 0.76);
}
div.history .admonition-title {
    background-color: rgba(230, 223, 38, 0.76);
}
div.history .admonition-title:before {
    color: rgba(230, 223, 38, 0.76);
    /* content: '\f19d'; */
}

div.history .admonition-title:after {
    display: none;
}

/* Proof boxes */
div.proof {
    border-left-color: rgba(64, 191, 255, 0.328);
}
div.proof .admonition-title {
    background-color: rgba(64, 191, 255, 0.328);
}
div.proof .admonition-title:before {
    color: rgba(64, 191, 255, 0.328);
    /* content: '\f19d'; */
}

div.proof .admonition-title:after {
    display: none;
}


/* Key concepts boxes */
div.key {
    border-left-color: rgba(12, 204, 54, 0.328);
}
div.key .admonition-title {
    background-color: rgba(12, 204, 54, 0.328);
}
div.key .admonition-title:before {
    color: rgba(12, 204, 54, 0.328);
    /* content: '\f19d'; */
}

div.key .admonition-title:after {
    display: none;
}
