/* History boxes */
div.history {
    border-left-color: rgba(246, 238,0);
}
div.history .admonition-title {
    background-color: rgba(246, 238,0);
}
div.history .admonition-title:before {
    color: rgba(246, 238,0);
    /* content: '\f19d'; */
}

div.history .admonition-title:after {
    display: none;
}

/* Proof boxes */
div.proof {
    border-left-color: rgba(64, 191, 255, 0.328);
}
div.proof .admonition-title {
    background-color: rgba(64, 191, 255, 0.328);
}
div.proof .admonition-title:before {
    color: rgba(64, 191, 255, 0.328);
    /* content: '\f19d'; */
}

div.proof .admonition-title:after {
    display: none;
}
